@using Infoblog.Models
@model FormalPostViewModel

<h2>Informell blogginlägg</h2>

<hr />
@foreach (var p in Model.Posts)
{
    <h3> @p.Title </h3> 
    <h4> @p.Author </h4>

    <p> @p.Content </p>
    <hr />
}

@htm.RenderPartial("WritePost")


