@model List<FullCalendar.Event>
@using FullCalendar


<h2 >Kalender</h2>

<p>
    <span id="test"class="glyphicon glyphicon-calendar" style="color:red"></span>Skapat möte
    <span class="glyphicon glyphicon-calendar" style="color:blue"></span>Deltagare i möte
</p>


    <div class="col-md-12">
        @Html.FullCalendar(settings =>
   {
       settings.Name = "calendar";
       settings.CssClass = "css-test";
       settings.Header = new Header
       {
           Left = new ControlsBuilder().AddButton(HeaderButton.Prev).AddSeparator(HeaderSeparator.Adjacent)
                       .AddButton(HeaderButton.Next).AddSeparator(HeaderSeparator.Gap).AddButton(HeaderButton.Today),
           Center = new ControlsBuilder().AddTitle(),
           Right = new ControlsBuilder("month,agendaWeek ").AddView(AvailableView.AgendaDay)
       };
       settings.DefaultView = AvailableView.Month.ToString();
       settings.Editable = false;
       settings.AllDaySlot = false;
       settings.Selectable = true;
       settings.SlotDuration = TimeSpan.FromMinutes(30);
       settings.Locale = "sv";
       settings.Events = Events.AsArray(Model);
       settings.ScrollTime = TimeSpan.Parse(DateTime.Now.Hour.ToString());
       settings.DisplayEventEnd = true;
       settings.NowIndicator = true;
       settings.ThemeSystem = ThemeSystem.Bootstrap3;
       settings.ClientSideEvents.EventRender = @"function(event, element) {
            element.qtip({
                content: {
                    title: event.title,
                    text: event.additionalFields.content
                },
                position: {
                    target: 'mouse',
                    adjust: {
                        x: 10
                    }
                },
                style: {
                    classes: 'qtip-bootstrap qtip-shadow'
                }
            });
        }";
   });
    </div>



