@using Infoblog.Models
@model NotificationSettingsViewModel
@{
    ViewBag.Title = "NotificationSettings";
}

<h2>Notifikationinställningar</h2>

@using (Html.BeginForm("UpdateNotificationSettings", "Manage", FormMethod.Post))
{
<ul class="list-group list-group-flush">
    @foreach (var c in Model.MyCategoryInNotifications)
    {
        <li class="list-group-item">
            @c.Name
            <label class="switch">
                <input type="checkbox" class="default" name="checkResp" value="@c.Id" checked><br>
                <span class="slider"></span>
            </label>
        </li>
    }

    @foreach (var c in Model.Categories)
    {
        <li class="list-group-item">
        @c.Name
        <label class="switch">
            <input type="checkbox" class="default" name="checkResp" value="@c.Id"><br>
            <span class="slider"></span>
        </label>
        </li>
    }
</ul>

    <input type="submit" value="Uppdatera" class="btn-default" />
}





