@using Infoblog.Models.Meetings
@model MeetingViewModel

@{
    ViewBag.Title = "ViewVote";
}

 
<body id="cool">
        <h2 id="titel">Röstning om möte</h2>
        <hr />
        <div id="cool2"> <span id="question">Vilken tid passar er bäst?</span></div>
        <br />
        <div id="container">
            @if (!ModelState)
            {
            foreach (var poll in Model.InvitedMeetingPolls)
            {
                foreach (var p in poll.PollOptions)
                {


                <div><span>0</span><button id="B1" data-voted="false">Rösta</button>p.MeetingTime</div>
                }
            }
            }

            <div><span>0</span><button id="B1" data-voted="false">Rösta</button>08:00-09:00</div>

            <div><span>0</span><button id="B1" data-voted="false">Rösta</button>09:00-10:00</div>

            <div><span>0</span><button id="B1" data-voted="false">Rösta</button>10:00-11:00</div>

            <div><span>0</span><button id="B1" data-voted="false">Rösta</button>11:00-12:00</div>

            <div><span>0</span><button id="B1" data-voted="false">Rösta</button>12:00-13:00</div>

            <div><span>0</span><button id="B1" data-voted="false">Rösta</button>model.blablabal</div>
        </div>
    @*}*@
    </body>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#container div button").click(function () {
                let voted = $(this).data("voted");
                let voteIndicator = $(this).prev();
                if (voted) {
                    $(this).parent().animate({
                        width: '-=100px'
                    }, 500);
                    voteIndicator.html(parseInt(voteIndicator.html()) - 1);
                    $(this).data("voted", false);
                    return;
                }
                $(this).parent().animate({
                    width: '+=100px'
                }, 500);
                voteIndicator.html(parseInt(voteIndicator.html()) + 1)
                $(this).data("voted", true);
            });
        });
    </script>
    }